---
import DefaultLayout from '@layouts/Default.astro';
import { Markdown } from 'astro/components';
import { toKebabCase } from '../../../lib/utils';

export async function getStaticPaths() {
    // Each post must map to an array of objects containing:
    // { params: { box: '', index: '', slug: '' } }
    // This is how dynamic routing works in Astro.
    const boxesPosts = await Astro.glob('../../../content/**/*.md')

    const paths = boxesPosts.map((post) => {
        return {
            params: {
                box: toKebabCase(post.frontmatter.box.title),
                index: post.frontmatter.index.toString(),
            },
            props: { post }
        }
    })

    return paths;
}

const { post } = Astro.props;
const title = `${post.frontmatter.title} | Secret Boxes`

console.log(await post.default());
---
<DefaultLayout title={title}>
    <div class="w-1/2 mx-auto mt-24">
        <div class="flex items-center">
            <div class="w-[60%]">
                <h2 class="font-display text-h2 mb-5">{post.frontmatter.box.title}</h2>
                <p>{post.frontmatter.box.description}</p>
            </div>
            
            <!-- This is a lotti animation -->
            <div class="flex grow justify-end">
                <img src={post.frontmatter.box.image} alt={`Illustration for ${post.frontmatter.box.title} box`}>
            </div>

            <!-- Need a BoxPostProgressBar component that knows the number of posts -->
            <!-- related to a particular box and the titles of each of those posts -->
        </div>
        
        <div class="flex items-center border border-solid border-[#e7e7e7] rounded-2xl p-7 mb-16 max-w-[60%]">
            <div class="flex items-center justify-center tracking-0.5 font-semibold self-center bg-[#00a991] min-w-[35px] min-h-[35px] text-white rounded-full mr-7">
                <div>{post.frontmatter.index}</div>
            </div>
            <div class="">
                <p class="font-semibold tracking-0.5">{post.frontmatter.title}</p> 
                <p class="text-[#6e7191]">{post.frontmatter.description}</p>
            </div>
        </div>
    
        <!-- Below should be the rest of the markdown content-->
        <div class="markdown max-w-[704px]">
            <post.Content></post.Content>
        </div>
    </div>
</DefaultLayout>