---
import DefaultLayout from '@layouts/Default.astro';
import Button from '@components/Button.svelte';
import SupportForm from '@components/FormSupport.svelte';
import GenericModal from '@components/GenericModal.svelte';
import { BoxPostFrontmatter } from '../lib/Boxes';
import '../styles/global.css';

let title = 'Support | Secret Boxes';

const posts = await Astro.glob<BoxPostFrontmatter>('../content/**/*.md');

// First filter remove falsey values
// Map gives us the BoxMetadata from the post frontmatter
// Second filter removes Boxes with the same title
const boxNames = posts
    .filter(p => p.frontmatter.box)
    .map(p => p.frontmatter.box)
    .filter((p, index, self) => {
       return index === self.findIndex((t) => {
           return t.title === p.title
       })
    }).map((box) => box.title);

---
<DefaultLayout title={title}>
    <div id="support-hero" class="flex items-center w-3/5 mx-auto mt-36">
        <div class="inline-flex flex-col w-full">
            <div class="text-xsm text-orange-200 tracking-0.5 mb-1">SUPPORT & COMMUNITY</div>

            <h1 class="text-[#121212] text-h1 font-display tracking-1.25 mb-2.5">We're Here To Support <span class="text-orange-200">You</span></h1>
            <p class="text-[#14142B] mb-8">We will help you get going with Secret Boxes as part of your path to building dApps on the Secret Network.</p>

            <Button 
                client:load
                styles="px-0 m-0 h-8" 
                kind="text" 
                disabled={false}
                handler={{ action: '#support-ticket' }}
                size="sm">Make a support ticket</Button>
            <Button 
                client:load
                styles="px-0 m-0 h-8" 
                kind="text" 
                disabled={false}
                handler={{ action: '/' }}
                size="sm">Seek help from the community</Button>
        </div>

        <img class="inline-flex" src="/illustrations/support_illustration.svg" alt="Tech support illustration"> 
    </div>

    <div id="support-ticket" class="mt-80 w-3/5 mx-auto">
        <h2 class="text-h2 font-display tracking-1.5">Support Ticket</h2>
        <p>Open a support ticket to start a conversation with us. <br>
        This will help us in building our FAQ to assist future Secret Box users!</p>
        <SupportForm client:load boxOptions={boxNames}></SupportForm>
    </div>

    <div id="secret-community" class="w-2/5 mx-auto mt-44 mb-96">
        <h2 class="text-h2 font-display tracking-1.5 text-center mb-4">Secret Community</h2>
        <p class="text-center w-[55%] mx-auto mb-24">We have an awesome community of developers so come chat with us about use cases, suggestions and ideas, and more!</p>

        <div class="grid grid-cols-3 auto-rows-fit items-center justify-items-center gap-y-4 gap-x-0">
            <img class="" src="/icons/discord_lg_icon.svg" alt="Large Discord icon">
            <img class="" src="/icons/secret_lg_icon.svg" alt="Secret Network icon">
            <img class="" src="/icons/github_lg_icon.svg" alt="GitHub icon">

            <p class="font-semibold">Chat on Discord</p>
            <p class="font-semibold">Post on Forum</p>
            <p class="font-semibold">Find us on Github</p>

            <p class="w-52 text-center">This is the best place to chat, have real time discussions, get help or make suggestions!</p>
            <p class="w-52 text-center">Where you can participate in more thoughtful discussions, ideas and more. </p>
            <p class="w-52 text-center">If you want to report an issue or make a suggestion, come find us. We welcome your feedback!</p>

            <span class="">
            <Button 
                client:visible
                styles="" 
                size="sm" 
                kind="primary" 
                disabled={false}
                handler={{ action: 'https://discord.gg/yCJ3vv8B9f' }}>
                <!--Find out if right facing arrow should go here. It's inconsistent in the designs-->
                Check Discord
            </Button>

            </span>
            
            <Button 
                client:visible
                styles="" 
                size="sm" 
                kind="primary" 
                disabled={false}
                handler={{ action: 'https://forum.scrt.network/' }}>
                <!--Find out if right facing arrow should go here. It's inconsistent in the designs-->
                Check Forum
            </Button>

            <Button 
                client:visible
                styles="" 
                size="sm" 
                kind="primary" 
                disabled={false}
                handler={{ action: 'https://github.com/secretchaingirl/secretboxes.io' }}>
                <!--Find out if right facing arrow should go here. It's inconsistent in the designs-->
                Open An Issue
            </Button>
        </div>
    </div>
</DefaultLayout>