---
// 
// Button.astro is a generic button component for
// our three main buttons: primary, secondary, & tertiary.
// This component contains shared and isolated styles for each
// button. This interface can be made to give more granular
// design freedom by extending Props further.
// 
export interface Props {
    kind: string,
    text: string,
    route: string,
    size: string,
};

const { 
    kind = '',
    text = '', 
    route = '', 
    size = '',
} = Astro.props;

const SHARED_STYLES = 'inline-flex justify-center items-center font-semibold'
const PRIMARY_BUTTON_STYLES = 'bg-gray-300 text-white'
const SECONDARY_BUTTON_STYLES = 'border-solid border-2 border-gray-300 text-gray-300'
const TEXT_BUTTON_STYLES = 'text-gray-300'
const LANDING_BUTTON_STYLES = ''

function style() {
    switch(kind.toLowerCase()) {
        case 'primary': return `${getPrimaryStyles()} ${getDimensions()}`;
        case 'secondary': return `${getSecondaryStyles()} ${getDimensions()}`;
        case 'text': return `${getTextStyles()} ${getDimensions()}`;
        case 'landing': return `${getLandingStyles()} ${getDimensions()}`;
        default: return `${getPrimaryStyles()} ${getDimensions()}`;
    }
}

function getPrimaryStyles() {
    return `${SHARED_STYLES} ${PRIMARY_BUTTON_STYLES}`;
}

function getSecondaryStyles() {
    return `${SHARED_STYLES} ${SECONDARY_BUTTON_STYLES}`;
}

function getTextStyles() {
    return `${SHARED_STYLES} ${TEXT_BUTTON_STYLES}`;
}

function getLandingStyles() {
    return `${SHARED_STYLES} ${LANDING_BUTTON_STYLES}`;
}

function getDimensions() {
    switch(size) {
        case 'lg': return 'w-36 h-14'
        case 'med': return 'w-36 h-12'
        case 'sm': return 'w-36 h-10'
        default: return size
    }
}
---
<a 
    class={style()}
    href={route}>
    <slot name="pre" />
    {text}
    <slot name="post" />
    <slot />
</a>